body{
	background-image: url("images/background.jpg");
	font-family:"Lucida Sans Unicode", "Lucida Grande", sans-serif;
}

.home-page{
	background: #ffffff;
	margin: auto;
	width: 900px;
	border-style: double;
}

.header{
	background: #063458;
	padding: 10px;
	border-style: outset;
}

.content{
	padding: 10px;
}

.trending{
	width: 180px;
	float: left;
	border-style: outset;
}

.main{
	width: 600px;
	float: right;
}

.footer{
	clear: both;
	padding: 10px;
	background-color: #16E6FF;
	color: white;
	text-align: right; 
}

.header h1{
	color: white;
	text-align: center;
	font-size:50px;
}

.header button{
	padding: 10px;
	text-transform: uppercase;
	margin-left: 10px;
	background: #359DB6;
	cursor: pointer;
	color: white;
	border-style: outset;
}

h1{
	margin: 0; 
}

.main img{
	padding: 20px;
	position: relative;
	border-style: groove;
}

